# ignore .env file
.env*

# don't ingore .env.example file (which will help other developor)
# !.env.example

# ignore .git folder
.git

# node modules
node_modules

# ingroe .vscode
.vscode
# Local Netlify folder
.netlify
